*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.container{
    background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

img{
    width: 100%;
    height: auto;
}

svg{
    width: 100%;
}

.pc{
    position: relative;
    width: auto;
}

.pantalla{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.pantalla__nombre{
    width: 100%;
    height: 10vh;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-folder{
    position: absolute;
    padding: 20px 0px;
    top: 10vh;
    width: 100%;
    display: flex;
}

.pantalla__folder{
    width: 15%;
    text-align: center;
    margin: auto;
}

.pantalla__folder li{
    list-style: none;
    letter-spacing: 1px;
}








